/*seletor universal abaixo*/
*{
    padding: 0%;
    margin: 0;
    box-sizing: border-box;
    font-family:'Times New Roman', Times, serif;
}

h1{
    width: 100vw;
    background-color: #126038;
    color: #ffffff;
    text-align: center;

}

table{
    width: 100vw;
    border-collapse: collapse;
    
}

th,td{
    border:1px solid rgba(0, 0, 0, 0.189);
    padding: 5px;
    text-align: left;
}

